
// Fonts
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:400,700|Open+Sans:400,700');

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// For Vue
[v-cloak] {
  display: none;
}

.list-indented {
  margin-left: 20px;
}

ul.list-indented li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.option-spacing {
  padding: 0px 5px;
}

.headline {
  color: $red;
  font-size: 26px;
  font-weight: bold;
}

a {
  color: $red;
}

a:hover {
  color: $red;
  text-decoration: underline;
}

.light-background {
  background-color: #ffffff !important;
}

.ff-home {
  background-color: $red;
  text-transform: uppercase;
  color: #FFF;
  padding: 5px 13px;
  border-radius: 20px;
}

#page {
    padding: 0 20px;
}

#page-text {
    padding: 20px 0;
}
