
// Fonts
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:400,700|Open+Sans:400,700');

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// For Vue
[v-cloak] {
  display: none;
}

.list-indented {
  margin-left: 20px;
}

ul.list-indented li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.option-spacing {
  padding: 0px 5px;
}

.headline {
  color: $red;
  font-size: 26px;
  font-weight: bold;
}

a {
  color: $red;
}

a:hover {
  color: $red;
  text-decoration: underline;
}

.light-background {
  background-color: #ffffff !important;
}

.ff-home {
  background-color: $red;
  text-transform: uppercase;
  color: #FFF;
  padding: 6px 14px 4px 16px;
  border-radius: 20px;
}

#page {
    padding: 0 20px;
}

#page-text {
    padding: 20px 0;
}

.mermaid {
    padding-top: 20px;
}

// Marked as important because mermaid classes are defined later?
// I want the CSS definitions here so that I can use sass
.mapChoice > rect {
    fill-opacity: 0.1 !important;
    rx: 10 !important;
    ry: 10 !important;
    fill: $yellow !important;
    stroke: $yellow !important;
    stroke-width: 2px !important;
}

.mapEnd > rect {
    fill-opacity: 0.1 !important;
    rx: 0 !important;
    ry: 0 !important;
    fill: $red !important;
    stroke: $red !important;
    stroke-width: 2px !important;
}

.mapStart > rect {
    fill-opacity: 0.1 !important;
    rx: 10 !important;
    ry: 10 !important;
    fill: $green !important;
    stroke: $green !important;
    stroke-width: 2px !important;
}

.card {
    /* Add shadows to create the "card" effect */
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 240px;
    margin-bottom: 20px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
    padding: 30px 16px 20px 16px;
}

.card-title {
    color: $red;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    height: 100px;
    overflow: hidden;
}

.card-author {
    padding: 10px 0;
    text-align: center;
}

.card-publishdate {
    padding: 10px 0;
    font-style: italic;
    text-align: center;
}
